streamlit  
pandas

#Index
numpy  
matplotlib  
 
bs4 
beautifulsoup4  

#Profit
pandas-profiling 
streamlit-pandas-profiling  

#Portfolio
yfinance  

#Prediction
math
sklearn 

tensorflow   
keras 

#statement
yahoofinancials  
yahoo_fin 

